.menu {
  position: absolute;
  inset: 0;
  background-color: #FFF;
  z-index: 100;
}

.title {
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 40px;
    color: #0B1215;
    font-weight: 700;

    @media (max-width: 880px) {
        font-size: 40px;
        font-weight: 600;
    }

    @media (max-width: 576px) {
        font-size: 20px;
        margin-bottom: 20px;
    }
}