.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.galleryItem {
  position: relative;
  height: 220px;

  /* overflow: hidden; */
  cursor: pointer;
  
}

.galleryImage {

  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 991px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
