.catalogFilter {
  margin-bottom: 32px;
}

.header {
  margin-bottom: 24px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.listWrapper {
  max-height: calc(40px * 4); /* примерная высота для 4 элементов */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.listWrapper.expanded {
  max-height: 1000px; /* достаточно большая высота для всего списка */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  position: relative;
}

/* скрытый input */
.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* кастомный чекбокс */
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #5D5D5D;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
  padding: 3px;
}

/* checked */
.checked {
  background-color: #8CE688;
  border-color: #8CE688;
}

/* галочка */
/* .checked::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 8px;
  height: 16px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */

/* SVG галочка */
.checkmark {
  width: 12px;
  height: 12px;
  display: grid;
  place-items: center;
}

/* hover */
.item:hover .checkbox {
  border-color: #8CE688;
}

.toggle {
  margin-top: 8px;
  background: none;
  border: none;
  color: #217EA6;
  cursor: pointer;
  padding: 0;
}
